* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.menu-container {
  background-color: #344055;
  color: #DFC2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.links {
  display: flex;
}

.login {
  margin-left: 20px;
}

.header-container {
  background-color: #DFC2F2;
  color: #344055;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 300px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe,
.social {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: center;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.third-item {
  order: 2;
}

.fifth-item {
  order: -1;
}

.footer {
  display: flex;
  flex: 1;
  height: 200px;
}

.footer-one,
.footer-three {
  flex: initial;
  width: 300px;
  background-color: #344055;
}

.footer-two {
  background-color: #888098;
  flex: 1;
}
