* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}


.menu-container {
  color: white;
  background-color: blue;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.menu {
  /* border: 1px solid #fff; */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  /* border: 1px solid white; */
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  display: flex;
  color: #5995DA;
  background-color: #D6E9FE;
  justify-content: center;
}

.header {
  height: 300px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  align-items: center;
  flex-wrap: wrap;
  width: 900px;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.fifth-item {
  order: -1;
}

.subscribe,
.social {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  flex: 1;
  /* border: 1px solid #fff; */
  height: 200px;
  background-color: #D6E9FE;
}

.footer-one,
.footer-three {
  flex: initial;
  width: 300px;
  background-color: #5995DA;
}
