:root {
  --dark-bg-color: #1F2936;
  --hero-main-text-font-size: 48px;
  --text-dark-bg-color: #F9FAF8;
  --text-dark-bg-secondary-color: #E5E7EB;
  --hero-main-text-weight: 900;
  --hero-secondary-text-header-link-font-size: 18px;
  --hero-logo-text-font-size: 24px;

  --button-bg-color: #3882F6;
  --light-bg-color: #F9FAF8;
  --information-header-text-font-size: 36px;
  --text-light-bg-color: #1F2937;
  --text-light-bg-secondary-color: #727986;
  --information-header-text-weight: 900;

  --quote-section-bg-color: #E5E7EB;
  --quote-text-font-size: 36px;
  --quote-text-color: #1F2937;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

.header-container {
  background-color: var(--dark-bg-color);
  color: var(--text-dark-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 900px;
}

.header-links-list {
  display: flex;
  gap: 20px;
}

.header-link {
  color: var(--text-dark-bg-secondary-color);
  font-size: var(--hero-secondary-text-header-link-font-size);
}

.header-logo {
  font-size: var(--hero-logo-text-font-size);
}

.first-section-container {
  background-color: var(--dark-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section {
  color: var(--text-dark-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 900px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 450px;
  flex: 1;
}

.main-title {
  font-size: var(--hero-main-text-font-size);
  font-weight: var(--hero-main-text-weight);
}

.subtext {
  font-size: var(--hero-secondary-text-header-link-font-size);
  color: var(--text-dark-bg-secondary-color);
}

.signup {
  background-color: var(--button-bg-color);
  color: var(--text-dark-bg-color);
  border: 0px;
  width: fit-content;
  flex: 0;
  padding: 8px 32px;
  border-radius: 8px;
}

.image-placeholder {
  background-color: #6E747D;
  min-width: 300;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.second-section-container {
  background-color: var(--light-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 128px;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  gap: 32px;
}

.second-section-title {
  color: var(--text-light-bg-color);
  font-size: var(--information-header-text-font-size);
  font-weight: var(--information-header-text-weight);
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.card-image {
  height: 150px;
  width: 150px;
  flex-grow: 0;
  border: 4px solid var(--button-bg-color);
  border-radius: 16px;
}

.card-description {
  text-align: center;
  max-width: 150px;
  flex-grow: 0;
  color: var(--text-light-bg-secondary-color);
}
